<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zoucl.cloud.trade.mapper.FurnitureSaleMapper">
  <resultMap id="BaseResultMap" type="cn.zoucl.cloud.trade.model.entity.FurnitureSale">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="fn_name" jdbcType="VARCHAR" property="fnName" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="type_id" jdbcType="VARCHAR" property="typeId" />
    <result column="price" jdbcType="VARCHAR" property="price" />
    <result column="detail_info" jdbcType="VARCHAR" property="detailInfo" />
    <result column="head_img" jdbcType="VARCHAR" property="headImg" />
    <result column="is_new" jdbcType="VARCHAR" property="isNew" />
    <result column="keyword1" jdbcType="VARCHAR" property="keyword1" />
    <result column="keyword2" jdbcType="VARCHAR" property="keyword2" />
    <result column="keyword3" jdbcType="VARCHAR" property="keyword3" />
    <result column="is_show" jdbcType="VARCHAR" property="isShow" />


    <result column="date_created" jdbcType="DATE" property="dateCreated" />
    <result column="create_id" jdbcType="VARCHAR" property="createId" />
    <result column="create_ip" jdbcType="VARCHAR" property="createIp" />
    <result column="date_updated" jdbcType="DATE" property="dateUpdated" />
    <result column="update_id" jdbcType="VARCHAR" property="updateId" />
    <result column="update_ip" jdbcType="VARCHAR" property="updateIp" />
    <result column="version" jdbcType="VARCHAR" property="version" />
    <result column="del_flag" jdbcType="VARCHAR" property="delFlag" />

  </resultMap>

  <select id="selectFrontPage" parameterType="java.util.Map" resultType="cn.zoucl.cloud.trade.model.vo.FurnitureSaleVo">
    select
    t1.id, t1.user_id as userId,
    t1.title, t1.fn_name as fnName,
    t1.price, t1.head_img as headImg,
    t1.is_new as isNew,
    t2.id as merchantId,t2.phone as phone,
    t2.merchant_name as merchantName from t_furniture_sale t1

    LEFT JOIN t_merchant t2 on t1.user_id = t2.sys_user_id
    where t1.is_show = '1'
    <if test="searchType != null and searchType != ''">
      and t1.type_id = #{searchType}
    </if>
    <if test="searchIsNew != null and searchIsNew != ''">
      and t1.is_new = #{searchIsNew}
    </if>
    <if test="searchParam != null and searchParam != ''">
    and (
        t1.title like CONCAT("%",#{searchParam},"%")
        or #{searchParam} like CONCAT("%",t1.title,"%")

        or t1.fn_name like CONCAT("%",#{searchParam},"%")
        or #{searchParam} like  CONCAT("%",t1.fn_name,"%")

        or t1.keyword1 like CONCAT("%",#{searchParam},"%")
        or #{searchParam} like CONCAT("%",t1.keyword1,"%")

        or t1.keyword2 like CONCAT("%",#{searchParam},"%")
        or #{searchParam} like  CONCAT("%",t1.keyword2,"%")

        or t1.keyword3 like CONCAT("%",#{searchParam},"%")
        or #{searchParam} like CONCAT("%",t1.keyword3,"%")
      )
    </if>
  </select>

  <!-- 家具图片 -->
  <resultMap id="ImgResultMap" type="cn.zoucl.cloud.trade.model.entity.FurnitureSaleImg">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="sale_id" jdbcType="VARCHAR" property="saleId" />
    <result column="url" jdbcType="VARCHAR" property="url" />
  </resultMap>

  <select id="selectSaleImgs" parameterType="java.lang.String" resultMap="ImgResultMap">
    select * from t_furniture_sale_img where sale_id = #{recycleId}
  </select>

  <delete id="deleteFnImgBySaleId"  parameterType="java.lang.String" >
    delete from t_furniture_sale_img where sale_id = #{recycleId}
  </delete>

  <insert id="insertFnImgBatch" parameterType="java.util.List">
    INSERT INTO t_furniture_sale_img(id, sale_id, url) values
    <foreach collection="list" item="item" index="index"  separator=",">
      (#{item.id},#{item.saleId},#{item.url})
    </foreach>
  </insert>


  <!-- 家具收藏 -->
  <resultMap id="collectionFurnitureMap" type="cn.zoucl.cloud.trade.model.entity.CollectionFurniture">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="furniture_id" jdbcType="VARCHAR" property="furnitureId" />
    <result column="date_created" jdbcType="DATE" property="dateCreated" />
  </resultMap>

  <insert id="addCollection" parameterType="java.util.List">
    INSERT INTO t_collection_furniture(id, user_id, furniture_id, date_created) values
    (#{id},#{userId},#{furnitureId},now())
  </insert>

  <select id="selectCollections" parameterType="java.lang.String" resultType="cn.zoucl.cloud.trade.model.vo.FurnitureSaleVo">
    select
    t1.id, t1.user_id as userId,
    t1.title, t1.fn_name as fnName,
    t1.price, t1.head_img as headImg,
    t1.is_new as isNew,
    t2.id as merchantId,
    t2.merchant_name as merchantName,
    t3.id as collectionId
    from t_furniture_sale t1
    LEFT JOIN t_merchant t2 on t1.user_id = t2.sys_user_id
    inner join t_collection_furniture t3 on t1.id = t3.furniture_id
    where t3.user_id = #{userId}
  </select>

  <select id="selectCollectionByUidAndFid" parameterType="cn.zoucl.cloud.trade.model.entity.CollectionFurniture" resultMap="collectionFurnitureMap">
    select * from t_collection_furniture where user_id = #{userId} and furniture_id = #{furnitureId} limit 0,1
  </select>

  <delete id="deleteCollectionsById"  parameterType="java.lang.String" >
    delete from t_collection_furniture where id = #{id}
  </delete>

</mapper>